body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #509c9e;
    text-align: center;
    width: 300px;
    padding: 20px;
}

#display {
    width: 93%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#backspace {
    width: 100%;
    border: 5px 5px 5px 5px;
    padding: 10px;
}

.expressions {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

button {
    background-color: rgba(224, 230, 140, 0.493);
    padding: 5px;
    margin: 1px;
    border-radius: 5%;
}