.header {
    display: flex;
    flex-direction: row;
    border: 10px;
    justify-content: space-between;
}

.left-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right-header {
    display: flex;
    flex-direction: row;
}

body {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    background-color: #1F2937;
}

.main-container {

}

.sign-up {
    border-radius: 10%;
    padding: 5px;
    border-color: #e5e7eb;
    background-color: rgb(41, 73, 160);
}

.second-main-container {
    display: flex;
    flex-direction: row;
}

.quote-div {
    background-color: #e5e7eb;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgba(53, 42, 42, 0.534);
}

.footer {
    align-items: center;
}